machineLearning/learningDataset/learningDataset.csv
analysis/output/zusammenGeführte.csv
analysis/output/zusammenGeführte copy.csv
analysis/output/direktnachmzusammenfürhen.csv
analysis/output/zusammenGeführteNurZusammen.csv
machineLearning/learningDataset/learningDataset.csv

